@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Declarations */
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/WEB/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Visitor';
  src: url('/fonts/visitor1.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'ClashDisplay', sans-serif; /* Default to ClashDisplay for a branded feel */
}

/* Utility to remove spinners from number inputs */
@layer utilities {
  .no-spinners::-webkit-inner-spin-button,
  .no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .no-spinners {
    -moz-appearance: textfield;
  }
}
